[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0"
aws-lambda-powertools = "==2.12.0"
aws-xray-sdk = "==2.12.0"
boto3 = "==1.26.107"
"boto3-stubs[s3]" = "==1.26.110"
dataclasses-json = "==0.5.7"
debugpy = "==1.6.7"
jsons = "==1.6.3"
matplotlib = "==3.7.1"
pydantic = "==1.10.7"
scipy = "==1.10.1"
tdt = "==0.5.7"

[dev-packages]
black = "==23.3.0"
flake8 = "==6.0.0"
isort = "==5.12.0"
pipfile-sort = "==0.2.2"

[requires]
python_version = "3.10"
